################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/raj2/v15/Server/sqlite3/storage.ide
